# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react
# added stuff from https://github.com/facebook/react/blob/main/.gitignore


### react ###
.DS_Store
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch


# Operating System Files
.DS_Store

# Dependencies
node_modules/
bower_components/

# Miscellaneous
*.log
logs
*.sublime*
psd
thumb
sketch
*~
*.pyc
*.swp
*.swo

# Package Manager Specific
flow/
.flowconfig
.module-cache

# IDE Specific
*.sublime-project
*.sublime-workspace
.idea/
*.iml
.vscode/

# Build Files
build/
coverage/
remote-repo/
test/the-files-to-test.generated.js

# React DevTools
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist

.vercel
documentation-template/


RESSOURCES/*